@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif !important;
}
.ant-btn {
  color: #00095e;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}
.arrow:hover {
  background-color: #00000050;
}
ul.ant-pagination > li:last-child {
  position: absolute;
  margin-left: 0;
  left: 0;
}
ul.ant-pagination > li:last-child::before {
  content: "Page Size";
  margin-right: 10px;
  font-weight: 500;
}

/* NavbarInner */
.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  height: auto;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
}

.navbar ul li {
  display: inline;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  border-radius: 17px 17px 0px 0px;
  position: relative;
}

.navbar ul li {
  background: #7a9fd2;
}
.navbar ul li.active {
  font-weight: 500;
  background: #e5e7eb;
  z-index: 3;
}

.navbar ul a:hover {
  color: azure;
}
.navbar ul li.active a {
  color: #000000;
}

.navbar ul li a::before {
  content: "";
  left: -30px;
  bottom: 0;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #7a9fd2;
}

.navbar ul li a::after {
  content: "";
  right: -30px;
  bottom: 0;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -15px 15px 0 #7a9fd2;
}

.navbar ul li.active a::before {
  box-shadow: 15px 15px 0 #e5e7eb;
}

.navbar ul li.active a::after {
  box-shadow: -15px 15px 0 #e5e7eb;
}

@media (max-width: 576px) {
  * {
    font-size: 14px;
  }
  .card-sm-0 > .ant-card-body {
    padding-left: 5px;
    padding-right: 5px;
  }
  th.ant-table-cell,
  td.ant-table-cell {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .ant-form-item-label {
    display: none;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@layer base {
  p {
    @apply mb-2;
  }
  h1 {
    font-size: 32px;
    @apply mb-3 text-blue-900 font-bold capitalize;
  }
  h2 {
    font-size: 26px;
    @apply mb-3 text-blue-900 font-bold capitalize;
  }
  h3 {
    font-size: 18px;
    @apply mb-3 text-blue-900 font-medium capitalize;
  }
  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .min-vh-50 {
    min-height: 50vh;
  }
}

@layer utilities {
  .text-blue-900 {
    color: #00095e;
  }
  .container {
    @apply mx-auto px-2 sm:px-4 md:px-8;
  }
  .border-b-2 {
    border-bottom: 1px solid #bbbbbb50;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .translate-y-50 {
    transform: translate(0, -50%);
  }
  .translate-x-50 {
    transform: translate(-50%, 0);
  }
}
